In [9]:
# Import necessary libraries
import numpy as np
import matplotlib.pyplot as plt
import joblib
from sklearn.linear_model import LinearRegression
import pandas as pd

In [10]:
# Load the trained model
model = joblib.load('../../model/models/new_linear_regression_model.pkl')
print("Model loaded successfully")

Model loaded successfully

In [11]:
# Define the world points and camera points
world_points = [
  [400, 130], [528, 130], [656, 130], [784, 130], [912, 130], [1040, 130],
  [400, 258], [528, 258], [656, 258], [784, 258], [912, 258], [1040, 258],
  [400, 386], [528, 386], [656, 386], [784, 386], [912, 386], [1040, 386],
  [400, 514], [528, 514], [656, 514], [784, 514], [912, 514], [1040, 514],
  [400, 642], [528, 642], [656, 642], [784, 642], [912, 642], [1040, 642],
  [400, 770], [528, 770], [656, 770], [784, 770], [912, 770], [1040, 770],
]

cam_points = [
  [415, 380], [370, 380], [325, 380], [280, 382], [236, 383], [190, 385],
  [420, 350], [373, 350], [325, 350], [280, 350], [232, 350], [185, 350],
  [423, 313], [375, 314], [327, 314], [278, 313], [228, 314], [177, 315],
  [430, 274], [379, 274], [327, 275], [275, 275], [223, 275], [170, 275],
  [437, 230], [383, 230], [328, 231], [273, 231], [217, 230], [161, 230],
  [447, 182], [388, 180], [329, 181], [270, 180], [212, 180], [151, 180],
]

worldPoints = np.array(world_points, dtype=np.float32)
imagePoints = np.array(cam_points, dtype=np.float32)

In [17]:
df = pd.DataFrame(world_points, columns=['x', 'y'])
df['x_image'] = pd.Series(imagePoints[:, 0])

In [18]:
df

       x    y  x_image
0    400  130    415.0
1    528  130    370.0
2    656  130    325.0
3    784  130    280.0
4    912  130    236.0
5   1040  130    190.0
6    400  258    420.0
7    528  258    373.0
8    656  258    325.0
9    784  258    280.0
10   912  258    232.0
11  1040  258    185.0
12   400  386    423.0
13   528  386    375.0
14   656  386    327.0
15   784  386    278.0
16   912  386    228.0
17  1040  386    177.0
18   400  514    430.0
19   528  514    379.0
20   656  514    327.0
21   784  514    275.0
22   912  514    223.0
23  1040  514    170.0
24   400  642    437.0
25   528  642    383.0
26   656  642    328.0
27   784  642    273.0
28   912  642    217.0
29  1040  642    161.0
30   400  770    447.0
31   528  770    388.0
32   656  770    329.0
33   784  770    270.0
34   912  770    212.0
35  1040  770    151.0